APP_NAME=Dispositions Form Automation
APP_PORT=3000
APP_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSeElvHr-D5FXndyGFdk5VrcNKprY_wakDRGlmNJytjInZRaUA/viewform
DEFAULT_MODE=DRY_RUN
DEBUG_SLOW_MO_MS=250
MAX_RETRIES=2
